---
title: "SimpleNotificationComponent - Components - NestUI"
---

.mainSection

  = partial "menu", locals: { current_page: "Components", submenu: ["components", nil] }
  .content

    %h2 SimpleNotification
    .note Read <a href="#{$nest_ui_docs}/nest_ui/SimpleNotificationComponent-class.html">the documentation for this class.</a>


