@charset "utf-8";
@import "normalize";

html, body { margin: 0 0 0 0; }
body, .pure-g [class *= "pure-u"] { font-family: Kreon; font-size: 1.1em; color: #333; line-height: 150%; }
body { padding: 1em; margin-bottom: 10em; }

h1 { margin: 1em 0 0.5em 0; font-size: 250%; }
h2 { margin: 1em 0 0.5em 0; font-size: 200%; }
h3 { margin: 1em 0 0.5em 0; font-size: 175%; }
h4 { margin: 1em 0 0 0; font-size: 150%; }
h5 { font-size: 95%; font-weight: normal; margin: 0 0 0 0; }
h6 { font-size: 85%; font-weight: normal; margin: 0 0 0 0; }
.small { font-size: 80%; line-height: 110%; }
.note  { font-size: 80%; line-height: 110%; border-left: solid 5px #EADB6C; padding-left: 1em; }
.noTopMargin { margin-top: 0px; }
.noBottomMargin { margin-bottom: 0px; }

.mainSection { margin-top: 2em; }
code { font-family: Fira Mono; font-size: 75%; margin: 0.5em 0; line-height: 50%; }
pre { line-height: 50% !important; }
code.block { display: block; }
.inlineCode { background-color: #ddd; padding: 0 0.3em; font-family: Fira Mono; font-size: 75%; white-space: pre; border-radius: 0.3em; display: inline-block; margin: 0 0 0 0; }
pre { max-width: 800px; }
.pure-container-left  { padding-right: 1em; }
.pure-container-right { padding-left: 3em; max-width: 900px; }

.menu {
  a, a:visited { display: block; margin: 0 0 0.4em 0; padding: 0.5em; color: #175FA1; }
  a.current { background-color: #eee; color: #333; }
  a:hover   { text-decoration: none; }
}

ul li { margin-bottom: 0.3em; }

ol { margin: 0 0 0 0; padding: 0 0 0 0; }
ol li { margin: 0 0 1em 0;}

.faq {
  p { margin-top: 0px; }
}
