<div
  data-component-class="HintComponent"
  data-component-roles="hint"
  data-component-attribute-properties="
    anchor:data-anchor,
    show_events:data-show-events,
    force_show_events:data-force-show-events,
    autoshow_delay:data-autoshow-delay,
    autohide_delay:data-autohide-delay,
    display_limit:data-display-limit,
    hint_id:data-hint-id"
  data-anchor="anchor_id"
  data-show-events="mouseover"
  data-force-show-events="click"
  data-autohide-delay="10"
  data-display-limit="1"
  data-hint-id="hint__DCKgCobcd0qMP6HR"
  class="helpHint arrowBottomLeft"
  style="display: none;"
>
  <div class="arrowUp"></div> <!-- This is not a required element, just an arrow that will point to the anchor -->
  <div class="content">
    <img class="close" data-component-part="close" src="/assets/close_hint.svg" alt="Close hint">
    This is an optional field. However, if you only prefer to limit your offer to a specific region, you may use it. Either select region from the list or type in your own.
  </div>
  <div class="arrowDown"></div> <!-- This is not a required element, just an arrow that will point to the anchor -->
  </div>
</div>
