---
title: "Examples - NestUI"
---

.mainSection

  .pure-g
    .pure-u-1.pure-u-lg-4-24
      .pure-container-left
        = partial "menu", locals: { current_page: "Examples" }

    .pure-u-1.pure-u-lg-20-24
      .pure-container-right

        %p
          There aren't many examples currently, but I implemented one app that allows you to add new comments on the page and delete them:
          <a href="https://github.com/snitko/nest_ui_example_app">https://github.com/snitko/nest_ui_example_app</a>

        %p Here's the full code of the example app.dart file from the link above:
        %pre
          %code.language-dart= partial "code_partials/examples_1_1.dart"


        %p If you'd like to add some more examples, please <a href="https://github.com/snitko/nest_ui_site">clone this site</a>, update this page and make a pull request.
