---
title: "Github - NestUI"
---

.mainSection

  = partial "menu", locals: { current_page: "Github" }
  .content

    %p
      NestUI consists of several libraries all hosted on Github, take a look:

    %ul
      %li <a href="https://github.com/snitko/nest_ui">NestUI</a> itself
      %li <a href="https://github.com/snitko/dart-observable_roles">observable_roles</a>
      %li <a href="https://github.com/snitko/dart-heritage_tree">heritage_tree</a>
      %li <a href="https://github.com/snitko/dart-attributable">attributable</a>
      %li <a href="https://github.com/snitko/dart-validatable">validatable</a>
      %li <a href="https://github.com/snitko/dart-logmaster">logmaster</a>

    %p Additionally, there are a couple of repos, that are related:

    %ul
      %li <a href="https://github.com/snitko/nest_ui_example_app">NestUI example app</a>
      %li <a href="https://github.com/snitko/nest_ui_site">NestUI site</a> - the site you're currently reading.
